select {
    width: 100%;
    padding: 0.5rem;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  img {
    width: 50%; /* Make the image responsive */
    max-width: 400px; /* Set maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem;
  }
  
  select {
    width: 100%;
    padding: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
  }
  
  /* Media query for small screens */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.2rem;
    }
  }

  .rotate-image {
    animation: rotate 10s linear infinite; /* Adjust the animation duration as needed */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }